* { 
    margin: 0px auto;
    padding: 0px;
  
  }
  
  body, html {  
      height: 100%;        
  }
  
  /*Pantalla Bienvenida */
  #firstScreen {
      background:  url(images/imgfinal.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
  } 
  
  /* Texto bienvenida */
  .welcome {
  display: flex;
  background-color: #77c988c7;
  position: absolute;
  margin-top: 20em;
  margin-left: 30em;
  width: 50%;
  height: 100px;
  font-size: 18px;
  padding: 10px;
  align-items: center;
  font-family: "Roboto" ,sans-serif;
  text-align: center;
  color: #222C21;
  border-radius: 12px;
  border: 2px solid #cccc2b;
  }
  
  /* Botón bienvenida */
  .btn1 {
    width: 150px;
    height: 50px;
    margin-left: 47em;
    margin-top: 30em;
    background-color: #77c988c7;
    border-radius: 6%;
    border-style: hidden;
    font-size: 18px;
    font-family: "Roboto" ,sans-serif;
    color: #222c21;
    border-radius: 12px;
   border: 2px solid #cccc2b;
  }
  
  .btn1:hover {
  cursor: pointer;
  background-color: rgba(163, 247, 163, 0.733);
  }
  
  /* Segunda Pantalla (principal)*/
  .pokemonContainer {
    width: 100%;
    display: none;
    flex-wrap: wrap;
  }   
  
  /* Header */
  #headerGo {
  height: 200px;
  width: 100%;
  background:  url(images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
  /* Buscador */
  #searchBar {
  background:  url(images/lupa2.png);
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: 66em;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #7ed782ba;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
  }
  /* input de escritura buscador */
  .searchP {
  --margin-right: 10px;
  border-radius: 11px;
  margin-block-end: 5px;
  margin-block-start: 5px;
  border: 3px solid #f5c62f;
  background-color: #eee1ac;
  padding-left: 3em;
  }
  
  h2{
    text-align: center; 
    margin-top: 13px;  
  }
  
  .logotipo > img{
    width: 3em;
    margin-top: 5px;
    margin-block-end: 54px;
    margin-left: 2em;
    margin-inline-end: -41px;
  }
  
  #tipo{
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 1px;
    font-size: large;
    margin-top: -107px;
    border: 4px solid #f5c62f;
    font-family: "Roboto" ,sans-serif;
    padding-block: 1px;
    background-color: #f0e26ee0;
    border-radius: 28px;
    margin-block-end: 7px;
    margin-block-start: 7px;
  }
  
  
  
  
  #tipo:hover{
    cursor: pointer;
    background-color: rgba(245, 245, 135, 0.705);
    
  }
  
  
  .logodebilidad > img{
      width: 43px;
      margin-top: -4px;
      margin-block-end: -34px;
      margin-left: 9px;
      margin-inline-end: -48px;
   }
  
  #debilidad {
    display: flex;
  padding-block-end: 4px;
  padding-block-start: 5px;
  padding-left: 18px;
  padding-right: 15px;
  font-size: large;
  border: 4px solid #f5c62f;
  font-family: "Roboto" ,sans-serif;
    background-color: #e4641aeb;
  border-radius: 28px;
  margin-block-end: 7px;
    margin-block-start: 7px;
  }
  
  #debilidad:hover {
    cursor: pointer;
    background-color: #e4641a9f;
  }
  
  .logogeneracion > img{
    width: 3em;
    margin-top: 1px;
    margin-block-end: 54px;
    margin-right: -47px;
  }
   
  
  #generacion {
    display: flex;
    flex-wrap: wrap;
    padding-left: 18px;
    padding-right: 7px;
    font-size: large;
    margin-top: -107px;
    border: 4px solid #f5c62f;
    font-family: "Roboto" ,sans-serif;
    margin-block: 6px;
    background-color: #2eae1da6;
    margin-inline-end: 124px;
    border-radius: 28px;
    margin-block-end: 7px;
    margin-block-start: 7px;
  }
    
   
  #generacion:hover {
    cursor: pointer;
    background-color: rgba(127, 245, 123, 0.801);
    
  }
  

  /* Contenedor de Pokémon */
  #pokemonContainer {
    background:  url(images/b6.png);
    background-repeat: no-repeat;
    background-size: cover;
  background-position: center;
  background-color: rgb(250, 243, 250);
  width: 100%;
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  justify-content: center;
  }
  
  /* Cartitas Pokémon */
  .nameCard {
  background-color: #92cddf;
  width: 150px;
  height: 200px;
  margin-top: 10px;
  border-radius: 10px;
  border: 5px solid rgba(255, 198, 30, 0.91);
  display: flex;
  flex-direction: column;
  padding: 1em;  
  margin-block-start: 20px;
  margin-block-end: 20px;
  margin-left: 20px;
  margin-inline-end: 12px;
  margin-inline-end: 12px;
  margin-block-start: 5px;
  margin-top: 17px;
  }
  
  .numeros {
  border-radius: 8px;
  width: 5em;
  font-family: "Roboto" ,sans-serif;
  font-size: small;
  
  } 
  .nombres{
  border-radius: 8px;
  width: 5em;
  font-family: "Roboto" ,sans-serif;
  font-weight: bold;
  font-size: large;
  text-align: center;
  }
  
  /* Info tipos de Pokémon */
  .grass {
  background-color: #14be14;;
  border-radius: 25px;
  width: 50px;
  font-family:"Roboto" ,sans-serif;
  font-size: small;
  text-align: center;
  margin-block-end: 3px;
  }
  
  .poison{
    background-color: purple;
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
    color: white;
    text-align: center;
    margin-block-end: 3px;
  }
  
  .normal {
    background-color: rgb(163, 163, 140);
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
    color: white;
    text-align: center;
    margin-block-end: 3px;
  }
  
  .fighting {
    background-color: rgb(184, 20, 20);
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
  color: white;
  text-align: center;
  margin-block-end: 3px;
  }
  
  .flying {
    background-color: rgb(193, 113, 230);
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
  color: white;
  text-align: center;
  margin-block-end: 3px;
  }
  
  .ground {
    background-color: rgb(204, 186, 27);
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
  color: white;
  text-align: center;
  margin-block-end: 3px;
  }
  
  .rock {
    background-color: rgb(128, 122, 50);
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
  color: white;
  text-align: center;
  margin-block-end: 3px;
  }
  
  .bug {
    background-color: rgb(149, 179, 93);
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
  color: white;
  text-align: center;
  margin-block-end: 3px;
  }
  
  .ghost {
    background-color: rgb(76, 45, 134);
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
  color: white;
  text-align: center;
  margin-block-end: 3px;
  }
  
  .steel {
    background-color: rgb(110, 107, 109);
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
  color: white;
  text-align: center;
  margin-block-end: 3px;
  }
  
  .fire {
    background-color: rgb(238, 136, 41);
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
  color: white;
  text-align: center;
  margin-block-end: 3px;
  }
  
  .water {
    background-color: rgb(15, 157, 223);
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
  color: white;
  text-align: center;
  margin-block-end: 3px;
  }
  
  .electric {
    background-color: rgb(250, 246, 11);
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
  text-align: center;
  margin-block-end: 3px;
  }
  
  .psychic {
    background-color: rgb(201, 63, 132);
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
  color: white;
  text-align: center;
  margin-block-end: 3px;
  }
  
  .ice {
    background-color: rgb(134, 218, 221);
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
  color: white;
  text-align: center;
  margin-block-end: 3px;
  }
  
  .dragon {
    background-color: rgb(79, 22, 235);
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
  color: white;
  text-align: center;
  margin-block-end: 3px;
  }
  
  .fairy {
    background-color: rgb(219, 157, 188);
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
  color: white;
  text-align: center;
  margin-block-end: 3px;
  }
  
  .dark {
    background-color: rgb(49, 37, 37);
    border-radius: 25px;
    width: 50px;
    font-family: "Roboto";
    font-size: small;
  color: white;
  text-align: center;
  margin-block-end: 3px;
  }
  
  .foot {
  display: flex;
  height: 70px;
  width: 100%;
  background-color:#b9e8b2;
  flex-wrap: nowrap;
  padding: 0 4rem;
  justify-content: space-between;
  align-items: center;
 
  }
  
  
  /*redes sociales*/
  .sMedia {
  width: 70px;
  height: 30px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;  
  align-items: center;
  }
  
  /*dar formaro img redes sociales*/
  a > img {
  width: 50px;
  padding: 5px;
  border-radius: 20%;
  }
  
  
  